<!-- This is a partial, and is templated by AngularJS -->


<!-- Standard HTML form, with the submit function bound to the register() function defined in the the controller -->
<!-- The novalidate directive disables the browser default validation -->
<form class="form-horizontal" role="form" name="regForm" novalidate data-ng-submit="update()">
	<h2>User Registration</h2>
	<fieldset>
		<legend>Register a user:</legend>
		<!-- Each input is bound to a property on the prototype newUser object -->
		<div>
			<label for="firstName">First Name:</label>
			<input type="text" name="firstName" id="firstName" data-ng-model="user.firstName" placeholder="Your First Name" required autofocus/>
			<span class="invalid" data-ng-show="regForm.firstName.$error.required">required</span>
			<span class="invalid" data-ng-show="backendErrors.firstName">{{backendErrors.firstName}}</span>
		</div>
		<div>
			<label for="lastName">Last Name:</label>
			<input type="text" name="lastName" id="lastName" data-ng-model="user.lastName" placeholder="Your Last Name" required autofocus/>
			<span class="invalid" data-ng-show="regForm.lastName.$error.required">required</span>
			<span class="invalid" data-ng-show="backendErrors.lastName">{{backendErrors.lastName}}</span>
		</div>
		<div>
			<label for="email">Email:</label>
			<input type="email" name="email" id="email" data-ng-model="user.email" placeholder="Your Email" required/>
			<span class="invalid" data-ng-show="regForm.email.$error.required">required</span>
			<span class="invalid" data-ng-show="regForm.email.$error.email">not a valid email</span>
			<span class="invalid" data-ng-show="backendErrors.email">{{backendErrors.email}}</span>
		</div>
		<div>
			<label for="phoneNumber">Phone #:</label>
			<input type="tel" name="phoneNumber" id="phoneNumber" data-ng-model="user.phoneNumber" data-ng-pattern="/^[0-9]{10,12}$/" placeholder="Your Phone #" required/>
			<span class="invalid" data-ng-show="regForm.phoneNumber.$error.required">required</span>
			<span class="invalid" data-ng-show="regForm.phoneNumber.$error.pattern">must be between 10 and 12 digits</span>
			<span class="invalid" data-ng-show="backendErrors.phoneNumber">{{backendErrors.phoneNumber}}</span>
		</div>

		<!-- We output a list of success messages (appropriately styled!) for the form. -->
		<ul data-ng-hide="!successMessages" class="success">
			<li data-ng-repeat="message in successMessages">{{message}}</li>
		</ul>

		<!-- Output the list of error messages if any. -->
		<ul data-ng-hide="!errorMessages" class="invalid">
			<li data-ng-repeat="message in errorMessages">{{message}}</li>
		</ul>

		<!-- There are two buttons, the default submit action (which is bound for the whole form), and a reset button, that clears the form. -->
		<div>
			<input type="submit" class="btn btn-primary" data-ng-disabled="regForm.$invalid || isUnchanged(user)" id="register" value="Save" />
			<input type="button" class="btn btn-default" data-ng-disabled="isUnchanged(user)" data-ng-click="reset()" name="cancel" id="cancel" value="Cancel" />
		</div>
	</fieldset>
</form>
<!-- <pre>form = {{user | json}}</pre> -->
<!-- <pre>master = {{master | json}}</pre> -->
<!-- <pre>userId = {{userId}}</pre> -->
